/* General styles */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}
.insertionsort{
  height:100vh;
}

/* Input section */
.input-section {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b6;
}

/* Visualization section */
.insertionsort .visualization-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-height:60vh !important;
  /* min-height:70vh!important; */
  border: 1px solid #dddddd;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  /* background-color: yellow; */
}

.insertionsort #array-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* margin-top: 5%; */
  padding-top: 20%;
  overflow-x: auto;
  overflow-y: hidden;
  /* background-color: #0056b3; */

}

.insertionsort .bar {
  width: 30px;
  margin: 0 5px;
  display: inline-block;
  /* text-align: ; */
  font-weight: bold;
  color: white;
  /* margin-top: 20px; Ensure gap at the top */
  vertical-align: bottom; /* Align bars to the bottom */
}

#log-container {
  min-height:40vh !important;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.log-entry {
  margin-bottom: 5px;
}

/* Control section */
.control-section {
  margin-top: 20px;
}
