.container{
  background-color: white;
}


.linkedlist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ddd;
    color: black;
    
  }

  .list-container{
    display: flex;
  }
  
  .input-section {
    
    margin-bottom: 20px;
  }
  
  .input-section input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .input-section button {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .visualization-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap; /* Allow nodes to wrap when exceeding the width */
    justify-content: center;
  }
  
  .node {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #ddd;
    padding: 10px;
    color:black;
    border-radius: 5px;
    margin: 5px;
  }
  
  .node-value {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-align: center;
  }
  
  .label {
    position: absolute;
    top: -20px;
    font-size: 12px;
    color: yellow;
  }
  
  .arrow {
    margin-left: 10px;
    margin-right: 10px;
    color: red;
    font-weight: bold;
  }
  
  .log-section {
    margin-top: 20px;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .log-entry{
    background-color: #ddd;
    color:black;
  }